!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Maine
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %h1= link_to 'MAINE', root_path
    = yield

    %footer
      %p= link_to '[source]', 'http://github.com/jwworth/maine', target: '_blank'
